.BG {
  background-color: #e7e7e7
}
.border {
  border-radius : 30px;
  /* padding: 50px; */
  width: 320px;
  height: 220px;
  border: 2px solid #696969;
  margin-left: 150px;
  margin-top: 50px;
}
.t-color {
  color: #69696a
}
.flex {
  display:flex;
}
.font {
  font-size: 50px;
}
.font1 {
  font-size: 25px;
  padding-right: 150px;
  padding-left: 30px;
  line-height: 40px;
}
.c-button{
  background-color: #fd6820;
}
@font-face {
  font-family: myFirstFont;
  src: url(/font/Open-Sans/OpenSans-Italic.TTF);
}
.margin {
  margin-left: 86px;
  margin-right: 86px;
  margin-top: -16px;
}
.m-background {
  background-color: black
}
.center {
  display: block;
  margin: auto;
} 
.c-font {
  color: white;
}
.b-culture {
  padding-left: 150px;
}
.m-destination {
  margin-top: 25px;
}
.font-opan {
  font-family: 'Open Sans', sans-serif;
}
.font-size-cul {
  font-size: 60px;
}
.line {
  line-height: 1px;
}
.line1 {
  text-indent: 100px;
  line-height: 10px;
}
.line2 {
  line-height:40px;
  text-indent: 30px;
}
.font-pridi {
  font-family: 'Pridi', serif;
}
.l-margin {
  margin: 10px;
}