.f{
    margin-top:100px;
}
.t-color {
    color: #69696a;
}
.te-color {
    color:black;
}
.font-opan {
    font-family: 'Open Sans', sans-serif;
  }
.font-size-cyd {
    font-size: 250%;
}
.font-size-wp {
    font-size: 100%;
}
.line {
    width: 100%;
    height: 100%;
    border: 20% solid black; /* ใส่เส้นขอบแบบทึบสีดำขนาด 1px */
}
.text{
        position:absolute;
        display:block;  
        font-color : rgb(255, 255, 255);   
        height:100%;/* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
        width:50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */
        right:0px; /* css กำหนดชิดขวา  */
        bottom:0px; /* css กำหนดชิดด้านล่าง  */
        z-index:999;
}
.b-button{
    background-color:orangered;
}
.t-font {
    color: white;
}
.m-destination {
    margin-top: 25px;
}
.font-opan {
    font-family: 'Open Sans', sans-serif;
}
.t-margin {
    margin-top: 30px;
}
.bg {
    background-color: #e7e7e7
}
.map{
    
}
.location{
    display: flex
}
.b-image{
    background-image: url("../static/picture/Pic1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
}

.b-image2{
    background-image: url("../static/picture/Pic2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
}
.b-image3{
    background-image: url("../static/picture/Pic3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
}
.b-image4{
    background-image: url("../static/picture/Pic4.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.f-img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.choose-button {
    border: 2px solid white;
    padding: 5px 20px;
    color: white;
    font-size: 32px;
}
.f-topic{
    font-size: 90px;
    color: white;
    margin-top:150px;
}
@media screen and (min-width: 320px) {
    .b-image{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image2{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image3{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image4{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .choose-button {
        border: 2px solid white;
        padding: 2px 5px;
        color: white;
        font-size: 16px;
    }
    .f-topic{
        font-size: 35px;
        color: white;
        margin-top:75px;
    }
}

@media screen and (min-width: 576px) {
    .b-image{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image2{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image3{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .b-image4{
        background-size: cover;
        background-position: center;
        height: 250px
    }
    .choose-button {
        border: 2px solid white;
        padding: 2px 5px;
        color: white;
        font-size: 16px;
    }
    .f-topic{
        font-size: 35px;
        color: white;
        margin-top:75px;
    }
}
@media screen and (min-width: 768px) {
    .b-image{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image2{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image3{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image4{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .choose-button {
        border: 2px solid white;
        padding: 2px 5px;
        color: white;
        font-size: 20px;
    }
    .f-topic{
        font-size: 50px;
        color: white;
        margin-top:150px;
    }
}
@media screen and (min-width: 1200px) {
    .b-image{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image2{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image3{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .b-image4{
        background-size: cover;
        background-position: center;
        height: 500px
    }
    .choose-button {
        border: 2px solid white;
        padding: 2px 5px;
        color: white;
        font-size: 20px;
    }
    .f-topic{
        font-size: 60px;
        color: white;
        margin-top:150px;
    }
}