* {
    color: #5c5c5c;
}

p {
    font-family: 'Pridi';
}

#text1 {
    font-family: 'Open Sans';
}

#text2 {
    border: solid thin orangered;
    background-color: orangered;
    color: white;
}

#text3 {
    font-size: 350%;
}

#text4 {
    border: solid gray thin;
    border-radius: 15px;
    padding: 10px 30px;
    font-family: 'Pridi';
}

#footer1 {
    bottom: 0;
}

#logo {
    padding: 10px 0px;
}

#subTopic {
    font-size: 0.9em;
}

#homeimg1 {
    width: 100%;
}

#homeimg2 {
    max-width: 70px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#hometext {
    font-family: 'Trirong', serif;
    font-size: 1em;
    letter-spacing: 1px;
}

#navbar1 {
    top: 0;
    right: 0;
    left: 0;
    height: 8%;
}

#body1 {
    border-top: solid thick orangered;
}

#map1 {
    border: solid thin gray;
    height: 400px;
}

#margint {
    margin-top: 10% ;
}

@media only screen and (max-width: 1023px) {
    
        #body1 {
            text-align: center;
        }
        
    }

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    #navbar1 {
        position: absolute;
        z-index: 1000;
        opacity: 0.9;
        height: 10%;
    }

    #text1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 1440px) {

    #navbar1 {
        position: absolute;
        z-index: 1000;
        opacity: 0.9;
        height: 10%;
    }

    #homeimg2 {
        max-width: 100px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #text1 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
  }

  @font-face {
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css?family=Pridi);
  }